<div class="jumbotron text-center">
<div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-push-4 boxlogo">
      <img id="logo" src="./resources/img/logo.png" class="img-responsive" width="154" height="100"></img>
    </div>
    <div class="col-xs-6 col-sm-8">
      <div class="row">
        <div class="col-sm-6 col-sm-pull-6 boxb">
          <h1>What's The Syntax ?</h1>
        </div>
        <div class="col-sm-6 boxa">
           <p>
             <img src="./resources/img/iconsignup.png" width="20" height="20"></img>
             <a href="javascript:switchDisplaySignUp();">S'inscrire</a>
           </p>
           <p>
             <img src="./resources/img/iconsignin.png" width="20" height="20"></img>
             <a href="javascript:switchDisplaySignIn();">S'identifier</a>
           </p>
        </div>
      </div>
    </div>
</div>
</div>
