<link rel="stylesheet" href="./resources/css/cssviews/navbar.css">
<div id="wrapper">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       WTS?
                    </a>
                </li>
                <li>
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a href="#">Java</a>
                </li>
                <li>
                    <a href="#">C#</a>
                </li>
                <li>
                    <a href="#">Test liste utilisateur</a>
                </li>
                <li>
                    <a href="#">Contribution</a>
                </li>
            </ul>
        </nav>
    </div>
